.popup-content {
	padding: 15px;
}

.popup-content .panel-heading {
	color: #fff;
	background-color: #333;
}

.popup-content .removal-button {
	text-align: center;
}

.popup-content .update-button {
	text-align: center;
}

.popup-content .standard {
	width: 100%;
}

.popup-content .unfinished {
	width: 30px;
}

.popup-content .line {
	margin: 8px 5px;
	width: 250px;
}

.popup-content .name {
	width: 30%;
	display: inline-block;
}

.popup-content .input {
	width: 55%;
	display: inline-block;
}

.popup-content .input-short {
	width: 15px;
	display: inline-block;
}

.popup-content .info {
	width: 15px;
	display: inline-block;
	text-align: center;
}

.popup-content input {
	border-style: solid;
	border-width: 1px;
	border-color: #a9a9a9;
}

.popup-content input:disabled {
	background: #ddd;
}
