.itemview {
	padding: 0;
}

.itemview .thumbnail p {
	margin-top: 0;
	color: #555;
}

.itemview .thumbnail .image {
	height: auto;
	max-height: 200px;
	max-width: 100%;
}

.itemview .thumbnail .title {
	margin-top: 15px;
	font-size: 22px;
}
