<div class="container">
  <h2>Log in</h2>
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" formControlName="email" />
          <div class="text-danger" *ngIf="form.controls.email.errors && form.controls.email.touched">
            <div *ngIf="form.controls.email.errors.required">
              Email is required
            </div>
            <div *ngIf="form.controls.email.errors.email">
              Not a valid email
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" type="password" class="form-control" formControlName="password" />
          <div class="text-danger" *ngIf="form.controls.password.errors && form.controls.password.touched">
            <div *ngIf="form.controls.password.errors.required">
              Password is required
            </div>
            <!-- <div *ngIf="form.controls.password.errors.minlength">
              Password must be at least 8 characters long
            </div>
            <div *ngIf="form.controls.password.errors.pattern">
              Password must contain at least one uppercase letter, one lowercase letter, one number and one special
              character
            </div> -->
          </div>
        </div>
        <div class="form-group">
          <div class="text-danger" *ngIf="loginError">
            {{(loginError | json | authError)}}
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn button-spacing">Log in</button>
        </div>
        <div>
          <p>
            <a routerLink="forgotpassword">Forgot your password?</a>
          </p>
          <p>
            <a routerLink="register">Register as a new user</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>