#masonry-display {
    margin-top: 20px;
}

@media screen and (max-width: 1229px) {
	.masonry-item {
		width: calc(100% - 40px);
		float: left;
		margin-left: 20px;
	}
}

@media screen and (min-width:1230px) {
	.masonry-item {
		width: calc(33.33333% - 40px);
		float: left;
		margin-left: 30px;
	}
}