<div id="popupOverlay" class="pt-5 justify-content-center popup-overlay">
  <div>
    <div id="accordion" class="card">
      <div class="card-body p-2">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card m-1">
            <div class="card-header" id="heading1">
              <a data-toggle="collapse" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                <h6 class="mb-0">Status</h6>
              </a>
            </div>
            <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordion">
              <div class="card-body">
                <input type="hidden" formControlName="id">

                <div class="popup-line d-flex">
                  <span class="col-5 p-0 align-self-center">Season:</span>
                  <span class="col-6 p-0 align-self-center"><input type="number" class="form-control form-control-sm"
                      formControlName="season"></span>
                </div>

                <div class="popup-line d-flex">
                  <span class="col-5 p-0 align-self-center">Episode:</span>
                  <span class="col-6 p-0 align-self-center"><input type="number" class="form-control form-control-sm"
                      formControlName="episode"></span>
                </div>

                <div class="popup-line d-flex">
                  <span class="col-5 p-0 align-self-center">Watch Url:</span>
                  <span class="col-6 p-0 align-self-center"><input type="text" class="form-control form-control-sm"
                      [formControl]="form.controls.visitUrl" [value]="form.controls.visitUrl.value"></span>
                  <span class="align-self-center ml-2 fa fa-info-circle" data-toggle="tooltip" data-placement="auto"
                    title="" data-original-title="Link to go to when 'Watch' button is pressed"></span>
                </div>

                <div class="popup-line d-flex">
                  <span class="col-5 p-0 align-self-center">Notes:</span>
                  <span class="col-6 p-0 align-self-center"><input type="text" class="form-control form-control-sm"
                      formControlName="notes"></span>
                  <span class="align-self-center ml-2 fa fa-info-circle" data-toggle="tooltip" data-placement="auto"
                    title="" data-original-title="Notes will appear under item"></span>
                </div>

                <div class="popup-line d-flex">
                  <span class="col-5 p-0 align-self-center">Unfinished:</span>
                  <span class="col-6 p-0 align-self-center">
                    <label class="form-check-label"><input type="checkbox" class="form-check-input"
                        formControlName="unfinished">
                      <span class="align-self-center ml-2 fa fa-info-circle" data-toggle="tooltip" data-placement="auto"
                        title="" data-original-title="Check if You haven't finished watching the entire episode"></span>
                    </label>
                  </span>
                </div>

                <div id="times" class="popup-line d-flex" *ngIf="form.controls.unfinished.value == true">
                  <span class="col-4 p-0 align-self-center"><input type="number"
                      class="form-control form-control-sm d-inline-block col-9" formControlName="hours"> h</span>
                  <span class="col-4 p-0 pl-1 align-self-center"><input type="number"
                      class="form-control form-control-sm d-inline-block col-9" formControlName="minutes"> m</span>
                  <span class="col-4 p-0 pl-1 align-self-center"><input type="number"
                      class="form-control form-control-sm d-inline-block col-9" formControlName="seconds"> s</span>
                </div>

                <div class="popup-line d-flex">
                  <span class="col-5 p-0 align-self-center">Move to top:</span>
                  <span class="col-6 p-0 align-self-center">
                    <label class="form-check-label"><input type="checkbox" class="form-check-input"
                        formControlName="moveToTop">
                      <span class="align-self-center ml-2 fa fa-info-circle" data-toggle="tooltip" data-placement="auto"
                        title="" data-original-title="Move item to top of the list"></span>
                    </label>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-1">
            <div class="card-header" id="heading2">
              <a data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                <h6 class="mb-0">Config</h6>
              </a>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordion">
              <div class="card-body">
                <div class="popup-line d-flex">
                  <span class="col-5 p-0 align-self-center">Name:</span>
                  <span class="col-7 p-0 align-self-center"><input type="text" class="form-control form-control-sm"
                      formControlName="name"></span>
                </div>

                <div class="popup-line d-flex">
                  <span class="col-5 p-0 align-self-center">Image Url:</span>
                  <span class="col-7 p-0 align-self-center"><input type="text" class="form-control form-control-sm"
                      formControlName="imageUrl"></span>
                </div>

                <div class="popup-line d-flex">
                  <span class="col-5 p-0 align-self-center">Watch Url:</span>
                  <span class="col-7 p-0 align-self-center"><input type="text" class="form-control form-control-sm"
                      [formControl]="form.controls.visitUrl" [value]="form.controls.visitUrl.value"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="card m-1">
            <div class="card-header" id="heading3">
              <a data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                <h6 class="mb-0">Tracking</h6>
              </a>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
              <div class="card-body">
                <div class="d-flex">
                  Currently in development
                </div>
              </div>
            </div>
          </div>

          <div class="card m-1">
            <div class="card-header" id="heading4">
              <a data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                <h6 class="mb-0">Removal</h6>
              </a>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
              <div class="card-body">
                <div class="popup-line d-flex justify-content-center">
                  <a class="btn btn-danger" href="javascript:void(0);" (click)="remove()">Remove</a>
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center m-2">
            <button class="btn btn-success"
              type="submit">{{this.form.controls.id.value != '' ? 'Update' : 'Create'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>