<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="myModal">

	<!-- Modal content -->
	<div class="myModal-content">
		<div class="myModal-header">
			<span class="close">&times;</span>
			<h2>Modal Header</h2>
		</div>
		<div class="myModal-body">
			<p>Some text in the Modal Body</p>
			<p>Some other text...</p>
		</div>
		<div class="myModal-footer">
			<h3>Modal Footer</h3>
		</div>
	</div>

</div>
