<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="#">Last Seen</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="loggedIn == false"><a routerLink="/auth/register">Register</a></li>
        <li *ngIf="loggedIn == false"><a routerLink="/auth/login">Log in</a></li>
        <li *ngIf="loggedIn"><a (click)="addNew()" href="javascript:void(0);">Add new</a></li>
        <li *ngIf="loggedIn"><a (click)="logOut()" href="javascript:void(0);">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>