@model Pages.Components.Pagination.PaginationModel
@using LastSeenWeb.Core
@inject ApplicationSettings ApplicationSettings

<div class="row">
	<div class="text-center">
		@if (Model.HasItems)
		{
			@if (Model.PageNumber > 1)
			{
				<a class="btn button-spacing" asp-route-pagenumber=@($"{Model.PageNumber - 1}")>Previous</a>
			}
			@if (Model.ItemCount > Model.PageNumber * ApplicationSettings.ItemsPerPage)
			{
				<a class="btn button-spacing" asp-route-pagenumber=@($"{Model.PageNumber + 1}")>Next</a>
			}
		}
	</div>
</div>
